/* Sidebar parameters */
.main-sidebar {
  /*width: 350px;*/
  background-color: black;
  opacity: 0.8;
}

/* Sidebar parameters */
.control-sidebar {
  background-color: black;
  opacity: 0.8;
}

/* Content wrapper adjustment */
.content-wrapper {
  margin-left: 4.6rem !important;
}

/* Remove bullet style for toggle buttons */
.no-bullet {
  list-style: none;
}

/* Sidebar button custom color */
.nav-link-sidebar {
  color: orange;
}

/* Controlbar button custom color */
.nav-link-controlbar {
  color: black;
}
/* Toggle sidebar button position */
.top-left-button {
  list-style: none;
  position: fixed;
  top: 10px;
  left: 27px;
  z-index: 9999;
  color: black;
}

/* Toggle controlbar button position */
.top-right-button {
  list-style: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  color: #000000;
}

/* Style used in R instead of inline */
.localStyle {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

/* body text styling for the app */
body { /*, .form-control {*/
  font-size: 15px;
  font-family: Calibri;
}

/* h2 text styling for the app */
h2 {
  font-size: 25px;
  font-family: Arial;
}

.main-header {
  max-height: 40px; /* Sert pour la hauteur de la controlbar */
}

/*
.bslib-sidebar-layout > .collapse-toggle > .collapse-icon {
  fill: red !important;
}
*/

.bslib-sidebar-layout > .collapse-toggle {
  /*
  padding: 100px 0;
  margin-bottom: 350px;
  left: 300px;
  */
  background-color: lightblue;
  opacity: 0.8	
}

p1 {
  border-style: double;
}


.custom-switch {
  display: none;
}
